/*FULL SITE CSS*/
.full {
	background-image:url("../images/kindajean_@2X.png");
	margin:0;	
	padding:0;
}

.topWrap {
	background-color: #fff;
    overflow: hidden;
    width: 100%;
    border-bottom: 2px solid #ccc;
}

#topBar {
	width:960px;
	/*border-bottom:2px solid #cccccc;*/
	padding:0;
	margin:0 auto;
	background:#ffffff;
}



/*LOGO CSS START*/
#mainLogo {
	background-color:#4aaaa5;
	width:250px;
	text-align:center;
	padding:10px 0px 10px 0px;
	font-family: 'Georgia', serif;
	color:#fff;
	font-size:200%;
	font-weight: bold;
	margin:0;
}

#mainLogo h1 {
	background-color:#4aaaa5;
	width:250px;
	text-align:center;
	padding:10px 0px 10px 0px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#fff;
	font-size:90%;
	margin:0;
}
/*LOGO CSS END*/



/*NAVBAR CSS START*/
.navBar {
    overflow: hidden;
    width: 100%;
    margin-top:-29px;
    padding-bottom:13px;
}

.navBar ul {
	margin-bottom:;
	padding-bottom:;
	float:right;
}

.navBar ul li {
	padding-right:10px;
	padding-left:10px;
	float:left;
	display:inline-block;
	list-style: none;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:100%;
	color:#777777;
	border-right:1px solid #777777;
}

.navBar a {
	text-decoration:none;	
	color:#777777;
}

.navBar a:hover {
	color:#4aaaa5;
}
/*NAVBAR CSS END*/


/*BODY CONTENT BOX CSS*/
.bodyWrapper {
	width:960px;
	overflow: hidden;
	margin:0 auto;
}

#bodyContent {
	width:960px;
	margin-top:40px;
	float:left;
}



/*ABOUT ME CSS START*/
#aboutMe {
	width:650px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	float:left;
	margin-bottom:40px;
}

#aboutMe h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:165%;
	font-weight:bold;
	text-align:left;
	width:590px;
	border-bottom:3px solid #cccccc;
	color:#4aaaa5;
	padding-bottom:30px;
	padding-top:35px;
	margin:0 auto;
}

#aboutMe img {
	float:left;
	padding-left:30px;
	padding-right:10px;
	padding-top:35px;
	/*border:10px solid #ffffff;*/
}

#aboutMe p {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size:100%;
	color:#777777;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:40px;
	line-height:150%;
}
/*ABOUT ME CSS END*/



/*START OF PORTFOLIO DISPLAY CSS*/
#portfolio {
	width:650px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	float:left;
	margin-bottom:40px;
}

#portfolio h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:165%;
	font-weight:bold;
	text-align:left;
	width:590px;
	border-bottom:3px solid #cccccc;
	color:#4aaaa5;
	padding-bottom:30px;
	padding-top:35px;
	margin:0 auto;
}


/*IMAGE 1 CSS START*/
#boxLabel1 {
	width:250px;
	height:50px;
	background-color:#4aaaa5;
	position:absolute;
	z-index:1;
	margin-top:110px;
}

#boxLabel1 p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#ffffff;
	font-size:130%;
	padding-top:15px;
	text-align:center;
}

#image1 {
	height:175px;
	width:250px;
	border:1px solid #cccccc;
	float:left;
	margin-left:30px;
	margin-top:35px;
}
/*IMAGE 1 CSS END*/

/*IMAGE 2 CSS START*/
#boxLabel2 {
	width:250px;
	height:50px;
	background-color:#4aaaa5;
	position:absolute;
	z-index:1;
	margin-top:110px;
}

#boxLabel2 p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#ffffff;
	font-size:130%;
	padding-top:15px;
	text-align:center;
}

#image2 {
	height:175px;
	width:250px;
	border:1px solid #cccccc;
	float:left;
	margin-left:86px;
	margin-top:35px;
}
/*IMAGE 2 CSS END*/

/*IMAGE 3 CSS START*/
#boxLabel3 {
	width:250px;
	height:50px;
	background-color:#4aaaa5;
	position:absolute;
	z-index:1;
	margin-top:110px;
}

#boxLabel3 p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#ffffff;
	font-size:130%;
	padding-top:15px;
	text-align:center;
}

#image3 {
	height:175px;
	width:250px;
	border:1px solid #cccccc;
	float:left;
	margin-left:30px;
	margin-top:35px;
}
/*IMAGE 3 CSS END*/

/*IMAGE 4 CSS START*/
#boxLabel4 {
	width:250px;
	height:50px;
	background-color:#4aaaa5;
	position:absolute;
	z-index:1;
	margin-top:110px;
}

#boxLabel4 p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#ffffff;
	font-size:130%;
	padding-top:15px;
	text-align:center;
}

#image4 {
	height:175px;
	width:250px;
	border:1px solid #cccccc;
	float:left;
	margin-left:86px;
	margin-top:35px;
}
/*IMAGE 4 CSS END*/

/*IMAGE 5 CSS START*/
#boxLabel5 {
	width:250px;
	height:50px;
	background-color:#4aaaa5;
	position:absolute;
	z-index:1;
	margin-top:110px;
}

#boxLabel5 p {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#ffffff;
	font-size:130%;
	padding-top:15px;
	text-align:center;
}

#image5 {
	height:175px;
	width:250px;
	border:1px solid #cccccc;
	float:left;
	margin-left:30px;
	margin-bottom:30px;
	margin-top:35px;
}
/*IMAGE 5 CSS END*/



/*START CONTACT FORM CSS*/
#formFull {
	width:650px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	float:left;
	margin-bottom:40px;
}

#formFull h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:165%;
	font-weight:bold;
	text-align:left;
	width:590px;
	border-bottom:3px solid #cccccc;
	color:#4aaaa5;
	padding-bottom:30px;
	padding-top:35px;
	margin:0 auto;
}

#contactForm {
	margin:0 auto;
	width:590px;
	padding-bottom:40px;
	padding-top:30px;
}

	/*OVERALL FORM START*/
label {
	margin-left:30px;
}

input[type=text], select, textarea {
    width:590px;
    padding-top:10px;  
    border:1px solid #ccc;  
    box-sizing:border-box; 
    margin-top:8px; 
    margin-bottom:16px; 
    resize:vertical;
    color:#777777;
}

	/*START "NAME BOX"*/
label[for="name"] {				
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    margin-left:0px;
    font-size:18px;
    padding-bottom:20px;
}

input[placeholder="Your full name..."] {
	font-size:12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-bottom:10px;
	padding-left:10px;	
}						
	/*END "NAME BOX"*/

	/*START "EMAIL BOX"*/
label[for="email"] {				
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    margin-left:0px;
    font-size:18px;
    padding-bottom: 10px;  
}	

input[placeholder="yadayadayada@gmail.com"] {
	font-size:12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-bottom:10px;
	padding-left:10px;	
}					
	/*END "EMAIL BOX"*/

	/*START "COMMENT BOX*/
label[for=message] {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    margin-left:0px;
    font-size:18px;
}				

textarea[placeholder="What you want to say..."] {
	font-size:12px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-bottom:10px;
	padding-left:10px;	
}		
	/*END "COMMENT BOX"*/

	/*START "SUBMIT BUTTON"*/
input[type=submit] {
    background-color:#4aaaa5;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:30px;
    margin-right:30px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
	font-size:16px;
    border:none;
    cursor:pointer;
}

input[type=submit]:hover {
    background-color:#2b6663;
}
	/*END "SUBMIT BUTTON"*/



/*SIDEBAR CSS START*/
#sideBar {
	width:270px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	float:left;
	margin-left:36px;
}

#sideBar h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:115%;
	font-weight:600;
	border-bottom:1px solid #cccccc;
	width:210px;
	color:#4aaaa5;
	padding-left:0px;
	padding-bottom:20px;
	padding-top:25px;
	margin:0 auto;
}

#linkIcons {
	padding-left:29px;

}

#linkIcons img {
	padding-right: 15px;
	padding-bottom:35px;
	padding-top:30px;
}
/*END SIDEBAR CSS*/



/*FOOTER CSS START*/
footer {
	background-color:#666;
	border-top:8px solid #4aaaa5;
	padding-top:40px;
	padding-bottom:40px;
	margin:0 auto;
	position:sticky;
	bottom:0;
	min-height: 100%;
	z-index:2;
}

footer p {
	color:#ffffff;
	text-align: center;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 75%;
}
